/*html {
    font-size: 100%;
}
body {
    font-size: 1em;
}
WHYYYYYY
*/

body {
    font-size: 1.6em;
}

/* Fix for double underlining until I update boostrap */
abbr {
    text-decoration: none;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.breadcrumb {
    font-size: 1.2em;
    margin-bottom:0;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
}

.breadcrumb > li {
    margin-top: 3px;
}

#dl-button {
    margin-left:5px;
}

#up-button {
    margin-right:5px;
}

.mobile-only {
    display: none;
}

#mobile-nav {
    font-size: 1.5em;
}

.icon-and-checkbox {
    width: 16px;
}

#mobile-nav-container {
    width:100%;
    text-align:center;
}

.clickableRow {
    cursor:pointer;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
    .mobile-hide{
        display: none;
    }
    .mobile-only {
        display: inline;
    }
    .breadcrumb > li {
        display: none;
    }
    .affix {
        position: relative;
    }
}

#logo-text {
    margin-left:0.5em;
}


li.alert-success {
    background-color: #DFF0D8;
}

li.alert-error {
    background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

#mobile-nav-list {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none
}


tr td {
    vertical-align: middle;
}

/* Filename */
tr th:nth-child(3) {
    width:100%;
}

/* Size & Date */
tr td:nth-child(4),
tr td:nth-child(5) {
    white-space: nowrap;
}

.icon-and-checkbox > * {
    color: black;
}

.invisible {
    visibility: invisible;
}

.info-popup {
    width: 30em;
    cursor: default;
}

.info-popup .col-sm-12 {
    white-space: normal;
}
