#header {
    height: 45px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
		
#nav.affix + #mainContent {
    padding-top: 75px;	
}

#dl-button {
    margin-left:5px;
}

.breadcrumb {
    font-size: 1.2em;
}

#up-button {
    margin-right:5px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
    .mobile-hide{ display: none; }
    .breadcrumb {
        font-size: 1.5em;

    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#logo-text {
    margin-left:0.5em;
}


li.alert-success {
    background-color: #DFF0D8;
}

li.alert-error {
    background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

@media (min-width: 768px) {
    .affix {
        position: fixed;
    }
}