<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<%page args="cssFiles, dep"/>
<head>
    <link rel="icon" type="image/x-icon" href="/~/img/favicon.ico" />
    <link href="/~/css/bootstrap-${dep['bootstrap']}.min.css" rel="stylesheet">
    <link href="/~/css/font-awesome-${dep['fontawesome']}.min.css" rel="stylesheet">
    % for f in cssFiles:
    <link href="/~/css/${f}.css" rel="stylesheet">
    % endfor
    <link href="/~/css/eyebrows.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    % if page_title != "":
    <title>${page_title} - Eyebrows</title>
    % else:
    <title>Eyebrows</title>
    % endif
</head>
