<%include file="/header.html", args="cssFiles=['swipebox'] "/>

            <table id="file-list" class="table table-hover">
                <thead>
                <tr class="hidden-xs hidden-sm"><th><input type='checkbox' id='select-all'></th><th></th><th>Name</th><th>Size</th><th>Date</th></tr>
                </thead>
                <tbody data-link="row" >

                % if useDots:
                    ${doDots()}
                % endif

                % for f in folderList:
                    ${doFolder(f)}
                % endfor
                % for f in fileList:
                    ${doFile(f)}
                % endfor

                </tbody>
            </table>
        </form>
    </div>
    <script type="text/javascript">
        window.imageArray = [

            % if len(imgList) > 0:
                {href:'${"/" + subfolder if subfolder else ""}/${imgList[0]}', title:'${imgList[0]}'}
            % endif
            % for i in imgList[1:]:
                ,{href:'${"/" + subfolder if subfolder else ""}/${i.replace("'", "&#39;")}', title:'${i.replace("'", "&#39;")}'}
            % endfor

        ];
        hideBarsDelay = ${str(hideBarsDelay)};
    </script>

<%include file="/footer.html", args="jsFiles=['jquery.swipebox.min']" />
</body>
</html>


<%def name="doDots()">
    <tr>
        <td class="icon-and-checkbox hidden-xs hidden-sm"></td>
        <td class="icon-and-checkbox"></td>
        <td>
            <a href='/${up_level}'>..</a>
        </td>
        <td class="hidden-xs hidden-sm"></td>
        <td class="hidden-xs hidden-sm"></td>
    </tr>
</%def>


<%def name="doFolder(name)">
    <tr class='clickableRow'>
        <td class="icon-and-checkbox hidden-xs hidden-sm">
            <input type='checkbox' class='chk' name='items' value='${name.replace("'", "&#39;")}'>
        </td>
        <td class="icon-and-checkbox">
            <i class='fa fa-folder'></i>
        </td>
        <td>
            <a href='/${"/".join([subfolder, name]) if subfolder != "" else name}'>${name}</a>
        </td>
        <td class="hidden-xs hidden-sm"></td>
        <td class="hidden-xs hidden-sm"></td>
    </tr>
</%def>


<%def name="doFile(name)">
    <%
        import os
        import urllib.parse
        import time
        from utils import formatBytes

        folder = os.path.join(baseFolder, subfolder)
        derp, ext = os.path.splitext(name)
        ext = ext[1:].lower()

        if ext in fileIcons and fileIcons[ext] == "picture-o":
            imgList.append(name)
            imgclass = "class='img-file'"
        else:
            imgclass = ""

        link = "/".join([subfolder, name])
        if subfolder == "":
            link = name
        urllib.parse.quote(link)
    %>
    <tr class='clickableRow'>
        <td class="hidden-xs hidden-sm">
            <input type='checkbox' class='chk' name='items' value='${name.replace("'", "&#39;")}'>
        </td>
        <td>
            <i class='fa fa-${fileIcons[ext] if ext in fileIcons else "file-o"}'></i>
        </td>
        <td>
            <a href='${link}' ${imgclass}>${name.replace("'", "&#39;")}</a>
        </td>
        <td class="hidden-xs hidden-sm">
            <small>
                ${formatBytes(os.path.getsize(os.path.join(folder, name)))}
            </small>
        </td>
        <td class="hidden-xs hidden-sm">
            <small>
                ${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getmtime(os.path.join(folder, name))))}
            </small>
        </td>
    </tr>
</%def>