<%include file="/nav.html", args="cssFiles=['swipebox'], dep=dep "/>
<% mediaList = [] %>
<%
    import os
    import time
    import cgi_tweaked as cgi
    import urllib
%>
        <div class="container">
            <table id="file-list" class="table table-hover">
                <thead>
                <tr class="mobile-hide"><th><input type='checkbox' id='select-all'></th><th></th><th>Name</th><th>Size</th><th>Date</th></tr>
                </thead>
                <tbody data-link="row" >

                % if config.useDots:
                    ${doDots()}
                % endif

                % for f in itemList:
                    % if f[1]:
                        ${doFolder(f[0])}
                    % else:
                        ${doFile(f[0])}
                    % endif
                % endfor

                </tbody>
            </table>
        </div>
    </form>
    <%include file="/footer.html", args="jsFiles=['jquery.swipebox'], dep=dep" />
    <script type="text/javascript">
        window.swipeboxArray = [
            % for media in mediaList:
                {
                    href:'${cgi.escape( urllib.parse.quote( ("/" + subfolder if subfolder else "") + "/" + media["name"])) + ("?swipeboxvideo=1" if media["video"] else "")}',
                    title:'${cgi.escape( media["name"] )}'
                }
                ,
            % endfor

        ];
        hideBarsDelay = ${str(config.hideBarsDelay)};
    </script>
</body>
</html>


<%def name="doDots()">
    <tr>
        <td class="icon-and-checkbox mobile-hide"></td>
        <td class="icon-and-checkbox"></td>
        <td>
            <a href='/${up_level}'>..</a>
        </td>
        <td class="mobile-hide"></td>
        <td class="mobile-hide"></td>
    </tr>
</%def>


<%def name="doFolder(name)">
<%
        folder = os.path.join(config.baseFolder, subfolder)
        try:
            os.path.getmtime(os.path.join(folder, name))
        except BaseException:
            return ''
%>
    <tr class="jump" id="${name}"></tr>
    <tr class='clickableRow'>
        <td class="icon-and-checkbox mobile-hide">
            <input type='checkbox' class='chk' name='items' value='${cgi.escape(name)}'/>
        </td>
        <td class="icon-and-checkbox">
            <a href='#${cgi.escape(name)}'>
                <i class='fa fa-folder'></i>
            </a>
        </td>
        <td>
            <a href='/${ cgi.escape( urllib.parse.quote( "/".join([subfolder, name]) if subfolder != "" else name ) )}'>${name}</a>
        </td>
        <td class="mobile-hide"></td>
        <td class="mobile-hide">
            <small>
                ${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getmtime(os.path.join(config.baseFolder, subfolder, name))))}
                <div class="btn-group invisible info">
                  <button type="button" class="btn btn-default info-btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-info"></i>
                  </button>
                  <div class="dropdown-menu pull-right info-popup">
                    <dl class="dl-horizontalNOT">
                      <dl class="col-sm-12">
                          <dt>Folder name</dt>
                          <dd>${cgi.escape(name)}</dd>
                      </dl>
                      <dl class="col-sm-6">
                          <dt>Modified</dt>
                          <dd>${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getmtime(os.path.join(folder, name))))}</dd>
                          <dt>Accessed</dt>
                          <dd>${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getatime(os.path.join(folder, name))))}</dd>
                          <dt>Created</dt>
                          <dd>${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getctime(os.path.join(folder, name))))}</dd>
                      </dl>
                    </dl>
                  </div>
                </div>
            </small>
        </td>
    </tr>
</%def>


<%def name="doFile(name)">
<%
        import os
        import urllib.parse
        import time
        from utils import formatBytes
        folder = os.path.join(config.baseFolder, subfolder)
        derp, ext = os.path.splitext(name)
        ext = ext[1:].lower()

        if ext in fileIcons:
            if fileIcons[ext] == "picture-o" or fileIcons[ext] == "film":
                mediaList.append({'name': name, 'video': fileIcons[ext] == "film"})
                a_class = "class='swipe'"
            else:
                a_class = ""
        else:
            a_class = ""

        link = "/".join([subfolder, name])
        if subfolder == "":
            link = name
        link = urllib.parse.quote(link)
        bytes = 0
        try:
            bytes = os.path.getsize(os.path.join(folder, name))
        except BaseException:
            return ''
    %>
    <tr class="jump" id="${name}"></tr>
    <tr class='clickableRow'>
        <td class="icon-and-checkbox mobile-hide">
            <input type='checkbox' class='chk' name='items' value='${cgi.escape(name)}' />
        </td>
        <td class="icon-and-checkbox">
            <a href='#${name}'>
                <i class='fa fa-${fileIcons[ext] if ext in fileIcons else "file-o"}'></i>
            </a>
        </td>
        <td>
            <a href='/${link}' id='${cgi.escape(name)}' ${a_class}>${name}</a>
        </td>
        <td class="mobile-hide">
            <small>
                <abbr title="${"{:,}".format(bytes)} bytes">${formatBytes(bytes)}</abbr>
            </small>
        </td>
        <td class="mobile-hide">
            <small>
                ${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getmtime(os.path.join(folder, name))))}
                <div class="btn-group info invisible">
                  <button type="button" class="btn btn-default info-btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-info"></i>
                  </button>
                  <div class="dropdown-menu pull-right info-popup">
                    <dl class="dl-horizontalNOT">
                      <dl class="col-sm-12">
                          <dt>File name</dt>
                          <dd>${cgi.escape(name)}</dd>
                      </dl>
                      <dl class="col-sm-6">
                          <dt>Size</dt>
                          <dd>${"{:,}".format(os.path.getsize(os.path.join(folder, name)))} bytes</dd>
                          <dt>&nbsp;</dt>
                          <dd><a href="/${link}?d=1" class="btn btn-sm btn-primary force-download" download="${name}">Download</a></dd>
                      </dl>
                      <dl class="col-sm-6">
                          <dt>Modified</dt>
                          <dd>${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getmtime(os.path.join(folder, name))))}</dd>
                          <dt>Accessed</dt>
                          <dd>${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getatime(os.path.join(folder, name))))}</dd>
                          <dt>Created</dt>
                          <dd>${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getctime(os.path.join(folder, name))))}</dd>
                      </dl>
                    </dl>
                  </div>
                </div>
            </small>
        </td>
    </tr>
</%def>
