<%include file="/nav.html", args="cssFiles=['swipebox'], dep=dep "/>
<% imgList = [] %>
<%
    import os
    import time
%>
        <div class="container">
            <table id="file-list" class="table table-hover">
                <thead>
                <tr class="mobile-hide"><th><input type='checkbox' id='select-all'></th><th></th><th>Name</th><th>Size</th><th>Date</th></tr>
                </thead>
                <tbody data-link="row" >

                % if config.useDots:
                    ${doDots()}
                % endif

                % for f in itemList:
                    % if f[1]:
                        ${doFolder(f[0])}
                    % else:
                        ${doFile(f[0])}
                    % endif
                % endfor

                </tbody>
            </table>
        </div>
    </form>
    <%include file="/footer.html", args="jsFiles=['jquery.swipebox.min'], dep=dep" />
    <script type="text/javascript">
        window.imageArray = [

            % if len(imgList) > 0:
                {href:'${"/" + subfolder if subfolder else ""}/${imgList[0]}', title:'${imgList[0]}'}
            % endif
            % for i in imgList[1:]:
                ,{href:'${"/" + subfolder if subfolder else ""}/${i.replace("'", "&#39;")}', title:'${i.replace("'", "&#39;")}'}
            % endfor

        ];
        hideBarsDelay = ${str(config.hideBarsDelay)};
    </script>
</body>
</html>


<%def name="doDots()">
    <tr>
        <td class="icon-and-checkbox mobile-hide"></td>
        <td class="icon-and-checkbox"></td>
        <td>
            <a href='/${up_level}'>..</a>
        </td>
        <td class="mobile-hide"></td>
        <td class="mobile-hide"></td>
    </tr>
</%def>


<%def name="doFolder(name)">
    <tr class='clickableRow'>
        <td class="icon-and-checkbox mobile-hide">
            <input type='checkbox' class='chk' name='items' value='${name.replace("'", "&#39;")}'>
        </td>
        <td class="icon-and-checkbox">
            <i class='fa fa-folder'></i>
        </td>
        <td>
            <a href='/${"/".join([subfolder, name]) if subfolder != "" else name}'>${name}</a>
        </td>
        <td class="mobile-hide"></td>
        <td class="mobile-hide">
            <small>
                ${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getmtime(os.path.join(config.baseFolder, subfolder, name))))}
            </small>
        </td>
    </tr>
</%def>


<%def name="doFile(name)">
<%
        import os
        import urllib.parse
        import time
        from utils import formatBytes
        folder = os.path.join(config.baseFolder, subfolder)
        derp, ext = os.path.splitext(name)
        ext = ext[1:].lower()

        if ext in fileIcons and fileIcons[ext] == "picture-o":
            imgList.append(name)
            imgclass = "class='img-file'"
        else:
            imgclass = ""

        link = "/".join([subfolder, name])
        if subfolder == "":
            link = name
        urllib.parse.quote(link)
    %>
    <tr class='clickableRow'>
        <td class="icon-and-checkbox mobile-hide">
            <input type='checkbox' class='chk' name='items' value='${name.replace("'", "&#39;")}'>
        </td>
        <td class="icon-and-checkbox">
            <i class='fa fa-${fileIcons[ext] if ext in fileIcons else "file-o"}'></i>
        </td>
        <td>
            <a href='/${link}' ${imgclass}>${name.replace("'", "&#39;")}</a>
        </td>
        <td class="mobile-hide">
            <small>
                ${formatBytes(os.path.getsize(os.path.join(folder, name)))}
            </small>
        </td>
        <td class="mobile-hide">
            <small>
                ${time.strftime('%b %d, %Y %I:%M%p', time.localtime(os.path.getmtime(os.path.join(folder, name))))}
            </small>
        </td>
    </tr>
</%def>
