<%page args="cssFiles"/>
<%include file="/header.html", args="cssFiles=cssFiles"/>
<body>
    <h1 class="container">
        <img src="/~/img/logo-1.png" class="mobile-hide"/><img id="logo-text" src="/~/img/logo-2.png" />
        % if page_title != "Info":
        <a class="btn btn-default btn-sm pull-right" href="/~"><i class="fa fa-info"></i></a>
        % endif
    </h1>
    <form role="form" method="post" action="/~">
        <input type="hidden" name="subfolder" value="${subfolder}">

        <nav class="affix" data-spy="affix" id="nav" data-offset-top="45" role="navigation">
            <ol class="breadcrumb container">
                % if not useDots:
                <a class="btn btn-default pull-left icon-button" id="up-button" href="/${up_level}" title="Up a Level"></span><i class="fa fa-level-up fa-flip-horizontal"></i>&zwnj;</a>
                % endif
                % if page_title == "Upload":
                  % if uploadEnabled:
                    <a class="btn btn-default pull-right" title="Finish" href="/${subfolder}">Finish</a>
                  % endif
                % else:
                  % if uploadEnabled:
                      <a class="btn btn-default pull-right icon-button" title="Upload" href="?u=1"><i class="fa fa-upload"></i>&zwnj;</a>
                  % endif
                    <button class="btn btn-default pull-right" title="Download"><i class="fa fa-download"></i><span id="dl-button"></span></button>
                % endif
                 

                <li><a href="/">Home</a></li>
                % for f in nav_folders:
                <li><a href="/${'/'.join(nav_folders[:loop.index+1])}">${f}</a></li>
                % endfor

                <div id="mobile-nav-container">
                    <a id="mobile-nav" class="mobile-only" href="#" data-toggle="popover" data-placement='bottom' data-content='
                        <ul id="mobile-nav-list">
                        <li><a href="/">Home</a></li>
                        % for f in nav_folders:
                        <li><a href="/${'/'.join(nav_folders[:loop.index+1])}</li>">${f}</a>
                        % endfor
                    </ul>'>Home</a>
                </div>
            </ol>
        </nav>
